@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap);





body {
  font-family: Quicksand;
}
.display-1 {
  font-family: 'Comfortaa', display;
  font-size: 5.63rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -4.5px;
}
.display-1 > .mbr-iconfont {
  font-size: 9.008rem;
}
.display-2 {
  font-family: 'Comfortaa', display;
  font-size: 2.75rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -2.8px;
}
.display-2 > .mbr-iconfont {
  font-size: 4.4rem;
}
.display-4 {
  font-family: 'Comfortaa', display;
  font-size: 0.75rem;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Comfortaa', display;
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 700;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Comfortaa', display;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.504rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.941rem;
    font-size: calc( 2.6205rem + (5.63 - 2.6205) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.6205rem + (5.63 - 2.6205) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.2rem;
    font-size: calc( 1.6125rem + (2.75 - 1.6125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.6125rem + (2.75 - 1.6125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #b1976b !important;
}
.bg-success {
  background-color: #383838 !important;
}
.bg-info {
  background-color: #333333 !important;
}
.bg-warning {
  background-color: #5d5d5d !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary {
  border: 0px !important;
  color: #ffffff;
  color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b1976b !important;
  border-color: #b1976b !important;
  color: #333333 !important;
}
.btn-primary:hover {
  color: #333333 !important;
  background-color: #887048 !important;
  border-color: #887048 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #333333 !important;
  background-color: #887048 !important;
  border-color: #887048 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-primary:hover {
  background-color: #c3ae8c !important;
}
.btn-secondary {
  border: 0px !important;
  color: #ffffff;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #a8a8a8 !important;
  border-color: #a8a8a8 !important;
  color: #333333 !important;
}
.btn-secondary:hover {
  color: #333333 !important;
  background-color: #828282 !important;
  border-color: #828282 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #333333 !important;
  background-color: #828282 !important;
  border-color: #828282 !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-info {
  border: 0px !important;
  color: #ffffff;
}
.btn-info,
.btn-info:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #333333 !important;
}
.btn-info:hover {
  color: #333333 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #333333 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-success {
  border: 0px !important;
  color: #ffffff;
}
.btn-success,
.btn-success:active {
  background-color: #383838 !important;
  border-color: #383838 !important;
  color: #333333 !important;
}
.btn-success:hover {
  color: #333333 !important;
  background-color: #121212 !important;
  border-color: #121212 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #333333 !important;
  background-color: #121212 !important;
  border-color: #121212 !important;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-warning {
  border: 0px !important;
  color: #ffffff;
}
.btn-warning,
.btn-warning:active {
  background-color: #5d5d5d !important;
  border-color: #5d5d5d !important;
  color: #333333 !important;
}
.btn-warning:hover {
  color: #333333 !important;
  background-color: #373737 !important;
  border-color: #373737 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #333333 !important;
  background-color: #373737 !important;
  border-color: #373737 !important;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-danger {
  border: 0px !important;
  color: #ffffff;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #333333 !important;
}
.btn-danger:hover {
  color: #333333 !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #333333 !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-white {
  border: 0px !important;
  color: #ffffff;
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #333333 !important;
}
.btn-white:hover {
  color: #333333 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-black {
  border: 0px !important;
  color: #ffffff;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #333333 !important;
}
.btn-black:hover {
  color: #333333 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #333333 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black:hover,
.btn-black:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-primary-outline {
  background-color: transparent !important;
  border: 2px solid #b1976b !important;
  color: #ffffff !important;
  color: #b1976b !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #b1976b;
  color: #b1976b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #b1976b;
  border-color: #b1976b;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b1976b !important;
  border-color: #b1976b !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  background-color: #b1976b !important;
  color: #333333 !important;
}
.btn-primary-outline:hover {
  color: #333333 !important;
}
.btn-secondary-outline {
  background-color: transparent !important;
  border: 2px solid #a8a8a8 !important;
  color: #ffffff !important;
  color: #a8a8a8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #a8a8a8;
  color: #a8a8a8;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #a8a8a8;
  border-color: #a8a8a8;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a8a8a8 !important;
  border-color: #a8a8a8 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  background-color: #a8a8a8 !important;
  color: #333333 !important;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
}
.btn-info-outline {
  background-color: transparent !important;
  border: 2px solid #333333 !important;
  color: #ffffff !important;
  color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  background-color: #333333 !important;
  color: #333333 !important;
}
.btn-info-outline:hover {
  color: #ffffff !important;
}
.btn-success-outline {
  background-color: transparent !important;
  border: 2px solid #383838 !important;
  color: #ffffff !important;
  color: #383838 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #383838;
  color: #383838;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #383838;
  border-color: #383838;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #383838 !important;
  border-color: #383838 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  background-color: #383838 !important;
  color: #333333 !important;
}
.btn-success-outline:hover {
  color: #ffffff !important;
}
.btn-warning-outline {
  background-color: transparent !important;
  border: 2px solid #5d5d5d !important;
  color: #ffffff !important;
  color: #5d5d5d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #5d5d5d;
  color: #5d5d5d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #5d5d5d;
  border-color: #5d5d5d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #5d5d5d !important;
  border-color: #5d5d5d !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  background-color: #5d5d5d !important;
  color: #333333 !important;
}
.btn-warning-outline:hover {
  color: #ffffff !important;
}
.btn-danger-outline {
  background-color: transparent !important;
  border: 2px solid #b1a374 !important;
  color: #ffffff !important;
  color: #b1a374 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #b1a374;
  color: #b1a374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  background-color: #b1a374 !important;
  color: #333333 !important;
}
.btn-danger-outline:hover {
  color: #ffffff !important;
}
.btn-black-outline {
  background-color: transparent !important;
  border: 2px solid #333333 !important;
  color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  background-color: #333333 !important;
  color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #b1976b !important;
}
.text-secondary {
  color: #a8a8a8 !important;
}
.text-success {
  color: #383838 !important;
}
.text-info {
  color: #333333 !important;
}
.text-warning {
  color: #5d5d5d !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #d4c6ae !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #dbdbdb !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #6b6b6b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #333333 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #909090 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b1976b;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #333333;
}
.alert-warning {
  background-color: #5d5d5d;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b1976b;
  border-color: #b1976b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b1976b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ddd2be;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ababab;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a6a6a6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #9d9d9d;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Comfortaa', display;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #b1976b;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b1976b;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b1976b;
  border-bottom-color: #b1976b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #b1976b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #a8a8a8 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b1976b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rUTuXtqKzG {
  min-height: 80px !important;
  position: static;
  min-height: auto !important;
}
.cid-rUTuXtqKzG .navbar {
  background-color: transparent !important;
}
.cid-rUTuXtqKzG .container {
  background-color: #111111 !important;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.cid-rUTuXtqKzG .navbar.navbar-short {
  background-color: transparent !important;
}
@media (min-width: 1200px) {
  .cid-rUTuXtqKzG .container {
    max-width: 1400px !important;
  }
}
.cid-rUTuXtqKzG .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rUTuXtqKzG .nav-item:focus,
.cid-rUTuXtqKzG .nav-link:focus {
  outline: none;
}
.cid-rUTuXtqKzG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rUTuXtqKzG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rUTuXtqKzG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rUTuXtqKzG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rUTuXtqKzG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rUTuXtqKzG .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #111111;
}
.cid-rUTuXtqKzG .navbar.opened {
  transition: all .3s;
  background: #111111 !important;
}
.cid-rUTuXtqKzG .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rUTuXtqKzG .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rUTuXtqKzG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rUTuXtqKzG .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rUTuXtqKzG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rUTuXtqKzG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rUTuXtqKzG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rUTuXtqKzG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rUTuXtqKzG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rUTuXtqKzG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rUTuXtqKzG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rUTuXtqKzG .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rUTuXtqKzG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rUTuXtqKzG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rUTuXtqKzG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rUTuXtqKzG .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rUTuXtqKzG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rUTuXtqKzG .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rUTuXtqKzG .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rUTuXtqKzG .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rUTuXtqKzG .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rUTuXtqKzG .navbar.navbar-short {
  background: #111111;
}
.cid-rUTuXtqKzG .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rUTuXtqKzG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rUTuXtqKzG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rUTuXtqKzG .dropdown-item.active,
.cid-rUTuXtqKzG .dropdown-item:active {
  background-color: transparent;
  color: #ffffff !important;
}
.cid-rUTuXtqKzG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rUTuXtqKzG .nav-dropdown .link.dropdown-toggle {
  margin: 0rem 1.3rem;
}
.cid-rUTuXtqKzG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0rem 1.3rem;
}
.cid-rUTuXtqKzG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #373737;
}
.cid-rUTuXtqKzG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rUTuXtqKzG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rUTuXtqKzG ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rUTuXtqKzG .navbar-nav {
  margin: auto;
}
.cid-rUTuXtqKzG .navbar-buttons {
  text-align: center;
}
.cid-rUTuXtqKzG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rUTuXtqKzG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b6a188;
}
.cid-rUTuXtqKzG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rUTuXtqKzG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rUTuXtqKzG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rUTuXtqKzG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rUTuXtqKzG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rUTuXtqKzG nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rUTuXtqKzG nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rUTuXtqKzG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rUTuXtqKzG .navbar-dropdown {
  padding-left: 0rem;
  position: fixed;
}
.cid-rUTuXtqKzG a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rUTuXtqKzG .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rUTuXtqKzG .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.cid-rUTuXtqKzG .icons-menu span {
  font-size: 20px;
  color: #354463;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rUTuXtqKzG .navbar {
    height: 77px;
  }
  .cid-rUTuXtqKzG .navbar.opened {
    height: auto;
  }
}
.cid-rUTuXtqKzG .btn {
  border-radius: 0px;
  margin: 0 !important;
}
.cid-rUTuXtqKzG .text-btn {
  transition: transform 0.3s;
}
.cid-rUTuXtqKzG .btn:hover {
  transform: scale(0.8);
}
.cid-rUTuXtqKzG .btn:hover .text-btn {
  transform: scale(1.2);
}
.cid-rUTuXtqKzG .nav-link {
  position: relative;
  display: inline-block;
}
.cid-rUTuXtqKzG .nav-link::before {
  content: "";
  width: 0%;
  display: block;
  height: 3px;
  background: #b6a188;
  position: absolute;
  top: 2px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}
.cid-rUTuXtqKzG .nav-link:hover::before {
  width: 100%;
}
.cid-rUTuXtqKzG .dropdown-menu > a {
  position: relative !important;
  display: inline-block;
}
.cid-rUTuXtqKzG .dropdown-menu > a:hover {
  color: #c4c4c4 !important;
}
.cid-rUTuXtqKzG .link {
  margin: 0rem 1.2rem;
}
.cid-rUTuXtqKzG .nav-dropdown .link.dropdown-toggle::after {
  margin-left: .7rem;
  content: "";
  pointer-events: none;
  display: inline-block;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #777;
  right: -15px;
  top: 7px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  border: none !important;
}
.cid-rUTuXtqKzG .dropdown-menu > a::after {
  content: "";
  display: block;
  position: relative !important;
  width: 0%;
  height: 2px;
  background-color: #b6a188;
  margin-top: 4px !important;
  transition: width .3s;
  top: 83% !important;
  right: auto !important;
}
.cid-rUTuXtqKzG .dropdown-menu > a:hover::after {
  width: 100%;
}
.cid-rUTuXtqKzG .dropdown-menu::before {
  content: "";
  display: inline-block;
  border: 15px solid transparent;
  border-top: 20px solid #373737;
  position: absolute;
  top: -15px;
  left: 40px;
  transform: rotate(-90deg);
}
.cid-rUTuXtqKzG .navbar-caption {
  font-family: 'Comfortaa', display;
}
@media (max-width: 992px) {
  .cid-rUTuXtqKzG .nav-dropdown .link {
    padding: 0.5rem 0rem !important;
  }
  .cid-rUTuXtqKzG .navbar .navbar-collapse {
    padding: 1rem 0;
  }
  .cid-rUTuXtqKzG .dropdown-menu::before {
    display: none !important;
  }
  .cid-rUTuXtqKzG .btn:hover {
    background-color: #b1976b !important;
    color: #333333 !important;
  }
  .cid-rUTuXtqKzG .dropdown-menu > a::after {
    display: none;
  }
  .cid-rUTuXtqKzG .navbar .dropdown.open > .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  .cid-rUTuXtqKzG .nav-link::before {
    display: none;
  }
  .cid-rUTuXtqKzG .dropdown-menu > a {
    color: #354463 !important;
  }
  .cid-rUTuXtqKzG .mbr-section-btn {
    margin-top: 1.5rem;
  }
  .cid-rUTuXtqKzG .btn {
    padding: 1.8rem 4rem;
    width: 100%;
  }
  .cid-rUTuXtqKzG .dropdown-menu .dropdown-toggle {
    color: #354463 !important;
  }
  .cid-rUTuXtqKzG .nav-dropdown .dropdown-item:focus,
  .cid-rUTuXtqKzG .nav-dropdown .dropdown-item:hover {
    color: #354463 !important;
  }
}
@media (max-width: 767px) {
  .cid-rUTuXtqKzG .container-fluid {
    padding: 1rem 1rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-rUTuXtqKzG .container-fluid {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-rUTuXtqKzG .container-fluid {
    padding-right: 0rem;
  }
  .cid-rUTuXtqKzG .nav-dropdown .link {
    padding: 1.8rem 0rem !important;
  }
  .cid-rUTuXtqKzG .btn {
    padding: 1.8rem 6rem;
  }
  .cid-rUTuXtqKzG .btn:hover {
    background-color: #333333 !important;
    color: #b1976b !important;
  }
  .cid-rUTuXtqKzG .dropdown-menu > a {
    color: #ffffff !important;
  }
  .cid-rUTuXtqKzG .dropdown-menu > a:active {
    color: #ffffff !important;
  }
  .cid-rUTuXtqKzG .dropdown-menu .dropdown-toggle {
    color: #ffffff !important;
  }
  .cid-rUTuXtqKzG .nav-dropdown .dropdown-item:focus,
  .cid-rUTuXtqKzG .nav-dropdown .dropdown-item:hover {
    color: #ffffff !important;
  }
}
.cid-rUTuXtqKzG .btn-primary {
  color: #333333 !important;
}
.cid-rUTuXtqKzG .btn-primary:focus {
  background-color: #ffffff !important;
}
.cid-rUTuXtqKzG .navbar-dropdown.navbar-short .navbar-logo {
  margin-right: 0.8rem !important;
}
.cid-rUTuXtqKzG .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0rem;
}
.cid-rVjHGv2ggq {
  background-image: url("../../../assets/images/mcdonald-lake-glacier-national-park-montana.jpg");
}
.cid-rVjHGv2ggq .mbr-section-title {
  font-family: 'Comfortaa', display;
}
.cid-rVjHGv2ggq .promo-primary-description {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  text-align: right;
}
.cid-rVjHGv2ggq .mbr-section-subtitle {
  margin-bottom: 1rem;
  font-family: 'Comfortaa', display;
}
.cid-rVjHGv2ggq .container::before {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: -35px;
  width: 75px;
  left: 16px;
  background-color: #b1976b;
}
.cid-rVjHGv2ggq .container::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 25px;
  left: 96px;
  background-color: #aca7ba;
  bottom: -35px;
}
@media (max-width: 992px) {
  .cid-rVjHGv2ggq .promo-primary-description {
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .cid-rVjHGv2ggq .bottom-title {
    margin-right: 9rem;
    font-size: 150px;
  }
}
.cid-rVjHGv2ggq .bottom-title {
  letter-spacing: 0px;
}
.cid-rVjHGv2ggq .mbr-section-btn {
  margin-top: 1.8rem;
}
.cid-rVjHGv2ggq .btn-primary-outline {
  color: #ffffff !important;
}
.cid-rVjHGv2ggq .btn {
  margin-left: 0rem;
  margin-right: 1rem;
}
.cid-rVjHGv2ggq H2 {
  color: #cccccc;
}
.cid-rVehd4QRxm {
  background-color: #b1976b;
}
.cid-rVehd4QRxm .photo-split img {
  width: 100%;
}
.cid-rVehd4QRxm .counter-container ul {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rVehd4QRxm .counter-container ul li {
  margin-bottom: .5rem;
  list-style: ✓;
}
.cid-rVehd4QRxm .counter-container ul li:before {
  color: #ffbc00;
  display: inline-block;
  content: '✓';
  text-align: center;
  line-height: 1.5em;
  transition: all .2s;
  width: 25px;
  height: 25px;
}
.cid-rVehd4QRxm .wrap-block {
  padding-left: 2rem;
}
.cid-rVehd4QRxm .wrap-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cid-rVehd4QRxm .wrap-block ul li {
  display: inline-block;
}
.cid-rVehd4QRxm .wrap-block ul li span {
  text-align: center;
}
.cid-rVehd4QRxm .social-media {
  margin-top: 1.5em;
  padding: 0;
}
.cid-rVehd4QRxm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rVehd4QRxm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rVehd4QRxm .mbr-list,
.cid-rVehd4QRxm .social-media ul {
  text-align: left;
}
@media (max-width: 767px) {
  .cid-rVehd4QRxm {
    padding-top: 28px;
    padding-bottom: 0px;
  }
  .cid-rVehd4QRxm .wrap-block {
    margin: 0.5rem 0;
  }
  .cid-rVehd4QRxm .container-fluid {
    padding: 0 1rem;
  }
  .cid-rVehd4QRxm .mbr-section-title,
  .cid-rVehd4QRxm .mbr-section-subtitle,
  .cid-rVehd4QRxm .mbr-text {
    text-align: center !important;
  }
  .cid-rVehd4QRxm .social-list {
    text-align: center !important;
  }
}
@media (min-width: 767px) {
  .cid-rVehd4QRxm {
    padding-top: 105px;
    padding-bottom: 0px;
  }
  .cid-rVehd4QRxm .wrap-block {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .cid-rVehd4QRxm .container-fluid {
    padding: 0 2rem;
  }
}
.cid-rVehd4QRxm .btn-line {
  margin-top: 3rem;
}
.cid-rVehd4QRxm .container-fluid {
  max-width: 1300px;
}
@media (max-width: 992px) {
  .cid-rVehd4QRxm .col-lg-8 {
    order: 2;
  }
  .cid-rVehd4QRxm .col-lg-4 {
    order: 1;
  }
}
.cid-rVehd4QRxm .mbr-section-title {
  color: #000000;
}
.cid-rVehd4QRxm .mbr-text {
  color: #111111;
}
.cid-rVjBqDad6F {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .cid-rVjBqDad6F .mbr-text {
    text-align: center;
  }
}
.cid-rVjBqDad6F .container-fluid {
  padding: 0;
}
.cid-rVjBqDad6F .media-content {
  max-width: 580px;
  margin: auto;
  padding: 1rem;
}
.cid-rVjBqDad6F img {
  height: 100%;
  object-fit: cover;
}
.cid-rVjBqDad6F .mbr-figure {
  height: 100%;
}
.cid-rVjBqDad6F .col-lg-6 {
  padding: 0;
}
.cid-rVjBqDad6F .row {
  margin: 0;
}
.cid-rUTv2lodpI {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #1d1d1d;
  position: relative;
  overflow: hidden;
}
.cid-rUTv2lodpI a {
  transition: 0.3s;
}
.cid-rUTv2lodpI h5 {
  margin-bottom: 1.6rem;
}
.cid-rUTv2lodpI .card-img2 span {
  padding-top: 6px;
}
.cid-rUTv2lodpI .soc-item a {
  padding-top: 5px;
}
.cid-rUTv2lodpI .mbr-iconfont {
  color: #b1976b !important;
  transition: 0.3s;
}
.cid-rUTv2lodpI .link:hover {
  color: #b1976b !important;
}
@media (max-width: 992px) {
  .cid-rUTv2lodpI .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rUTv2lodpI .soc-item {
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.cid-rUTv2lodpI .soc-item span {
  font-size: 1rem;
}
.cid-rUTv2lodpI .soc-item:hover span {
  color: #b1976b !important;
}
.cid-rUTv2lodpI .item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.cid-rUTv2lodpI .item h4 {
  margin: 0;
}
.cid-rUTv2lodpI .media-wrap {
  margin-bottom: 1rem;
}
.cid-rUTv2lodpI .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rUTv2lodpI img {
  width: 80%;
}
.cid-rUTv2lodpI .btn {
  width: 100%;
  margin-left: 0rem;
}
.cid-rUTv2lodpI .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .cid-rUTv2lodpI .social-list {
    -webkit-justify-content: center;
    justify-content: flex-start;
  }
}
.cid-rUTv2lodpI .container {
  padding: 0;
}
.cid-rUTv2lodpI .btn-primary {
  color: #333333 !important;
}
.cid-rUTv2lodpI .btn-primary:hover {
  background-color: #997e50 !important;
}
.cid-rUTv2HcR2Y {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #111111;
}
.cid-rUTv2HcR2Y .media-container-row {
  align-items: center;
}
.cid-rUTv2HcR2Y .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rUTv2HcR2Y .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rUTv2HcR2Y .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rUTv2HcR2Y .foot-menu li {
  padding: 0.1rem 0rem !important;
  position: relative;
  margin: 0 0.5rem;
}
.cid-rUTv2HcR2Y .foot-menu-item {
  transform: 0.2s;
}
.cid-rUTv2HcR2Y .mbr-text {
  color: #8e99b1;
}
@media (max-width: 992px) {
  .cid-rUTv2HcR2Y .foot-menu {
    justify-content: center;
  }
  .cid-rUTv2HcR2Y .mbr-text {
    text-align: center;
  }
  .cid-rUTv2HcR2Y .media-container-row {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .cid-rUTv2HcR2Y .foot-menu {
    justify-content: flex-end;
  }
}
.cid-rUTv2HcR2Y .link:hover {
  text-decoration: underline;
}
.cid-rUTv2HcR2Y .link {
  padding-left: 1rem;
  color: #8e99b1;
  border-left: 2px solid #a3a3a3;
}
.cid-rUTv2HcR2Y .link-1 {
  border-left: none;
}
@media (min-width: 767px) {
  .cid-rUTv2HcR2Y .container {
    padding: 0;
  }
}
.cid-rUTv2HcR2Y .media-container-row .mbr-text {
  color: #838383;
}
.cid-rVjYZuMB1O {
  background: #ffffff;
}
.cid-rVjYZuMB1O .container-fluid {
  padding: 0 2rem;
  max-width: 1300px;
}
.cid-rVjYZuMB1O .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 767px) {
  .cid-rVjYZuMB1O .container-fluid {
    padding: 0 1rem;
  }
  .cid-rVjYZuMB1O .video-block {
    width: 100% !important;
  }
}
.cid-rVjZ1PWbSr {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #cccccc;
}
.cid-rVjZ1PWbSr .mbr-shop {
  display: table;
  width: 100%;
}
.cid-rVjZ1PWbSr .mbr-shop .row {
  padding: 0;
  margin: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .btn-sm {
  margin: 0.2rem 0.2rem;
}
.cid-rVjZ1PWbSr .mbr-shop .shoppingcart-icons {
  z-index: 105 !important;
}
.cid-rVjZ1PWbSr .mbr-shop .shop-title {
  margin-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  max-width: 80%;
}
.cid-rVjZ1PWbSr .mbr-shop .sidebar-title {
  line-height: 25px;
  margin-bottom: 1.8rem;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal_wraper {
  position: fixed;
  display: none;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.4);
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1040;
}
.cid-rVjZ1PWbSr .mbr-shop .card-description {
  cursor: text;
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .image-modal {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.cid-rVjZ1PWbSr .mbr-shop .image-modal img {
  max-width: 100%;
  max-height: 75vh;
}
.cid-rVjZ1PWbSr .mbr-shop .hide-modal {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal {
  cursor: default;
  padding: 50px;
  width: 1000px;
  max-width: 100%;
  background-color: #cccccc;
  z-index: 2000;
  overflow: auto;
  position: fixed;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal p {
  margin-bottom: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal ul {
  margin-bottom: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal .card-description {
  display: block;
  width: 100%;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal .close-modal {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: red;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal .close-modal:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: red;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cid-rVjZ1PWbSr .mbr-shop .test-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cid-rVjZ1PWbSr .mbr-shop .filter-by-pu,
.cid-rVjZ1PWbSr .mbr-shop .filter-by-pd,
.cid-rVjZ1PWbSr .mbr-shop .filter-by-d {
  display: inline-block;
  margin-right: 3px;
}
.cid-rVjZ1PWbSr .mbr-shop .sort-buttons {
  padding-bottom: 1rem;
  margin-right: 13px;
  text-align: right;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem:before {
  width: 0 !important;
  height: 0 !important;
}
.cid-rVjZ1PWbSr .mbr-shop .modal-dialog {
  max-width: 700px;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item {
  left: 0 !important;
  top: 0 !important;
  vertical-align: top;
  position: relative !important;
  -webkit-transform: none !important;
  transform: none !important;
  padding: 15px;
  width: 33.333%;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem h4,
.cid-rVjZ1PWbSr .mbr-shop .carousel-item h4 {
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: -1px;
  word-spacing: 0;
  margin-bottom: 0.3rem;
  padding-top: 15px;
  transition: color 0.5s;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem h5,
.cid-rVjZ1PWbSr .mbr-shop .carousel-item h5 {
  font-style: italic;
  font-weight: 400;
  line-height: 22.36px;
  text-transform: none;
  letter-spacing: 0px;
  word-spacing: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem p,
.cid-rVjZ1PWbSr .mbr-shop .carousel-item p {
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-align: center;
  display: inline;
}
.cid-rVjZ1PWbSr .mbr-shop .item-button {
  text-align: center;
}
.cid-rVjZ1PWbSr .mbr-shop .modalButton {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.cid-rVjZ1PWbSr .mbr-shop .modalButton.btn-success {
  right: 15%;
}
.cid-rVjZ1PWbSr .mbr-shop .sidebar {
  margin-top: 30px;
  position: relative;
}
.cid-rVjZ1PWbSr .mbr-shop .sidebar-block {
  position: relative;
}
.cid-rVjZ1PWbSr .mbr-shop .sidebar-background:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: -20px;
  right: 3px;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  margin-bottom: 20px;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .onsale {
  top: -15px;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .price-block {
  padding-top: 5px;
  text-align: left;
  line-height: 1;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .mbr-gallery-item {
  width: 100%;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .mbr-gallery-item img {
  width: 80px;
  float: left;
  margin-right: 20px;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .mbr-gallery-item h4 {
  text-align: left;
  padding-bottom: 5px;
  line-height: 1;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .mbr-gallery-item h5 {
  text-align: left;
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .mbr-gallery-item p {
  text-align: left;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .btn {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers-img {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers-title {
  display: inline-block;
}
.cid-rVjZ1PWbSr .mbr-shop .onsale {
  position: absolute;
  display: block;
  transition: color .3s ease;
  text-align: center;
  z-index: 95;
  top: 30px;
  left: 30px;
  line-height: 17px;
  padding: 5px 15px 5px;
  background: #132c70;
  border-radius: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: #ffffff;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item__hided {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item__hided h4,
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item__hided h5,
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item__hided p {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item__hided .btn {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem .price-block {
  display: block;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem .price-block span {
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: -1px;
  word-spacing: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-filter {
  padding-left: 0;
  text-align: left;
  padding-top: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-filter ul li.active {
  background-color: transparent;
  font-weight: bold;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-filter ul li:hover {
  background-color: transparent;
}
.cid-rVjZ1PWbSr .mbr-shop .range-slider {
  padding-bottom: 25px;
}
.cid-rVjZ1PWbSr .mbr-shop .filter-cost {
  display: block;
  vertical-align: middle;
  max-width: 250px;
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}
.cid-rVjZ1PWbSr .mbr-shop .filter-cost p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  font-weight: bold;
}
.cid-rVjZ1PWbSr .mbr-shop .price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  line-height: 32px;
  color: #666666;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .price-controls input {
  width: 100%;
  background-color: transparent;
  border: none;
  line-height: 31px;
  height: 31px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cid-rVjZ1PWbSr .mbr-shop .range-controls {
  position: relative;
}
.cid-rVjZ1PWbSr .mbr-shop .range-controls .scale {
  width: 100%;
  height: 5px;
  background-color: rgba(190, 190, 190, 0.3);
}
.cid-rVjZ1PWbSr .mbr-shop .range-controls .bar {
  margin-left: 0;
  width: 100%;
  height: 5px;
  background-color: #66458e;
}
.cid-rVjZ1PWbSr .mbr-shop .toggle {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -9px;
  width: 7px;
  height: 7px;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-sizing: content-box;
  background-color: #66458e;
  cursor: pointer;
}
.cid-rVjZ1PWbSr .mbr-shop .toggle:hover,
.cid-rVjZ1PWbSr .mbr-shop .toggle:active {
  background-color: #c0a375;
}
.cid-rVjZ1PWbSr .mbr-shop .min-toggle {
  left: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .max-toggle {
  right: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .hided-by-price {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .text-modal {
  padding-right: 30px;
  padding-left: 30px;
}
.cid-rVjZ1PWbSr .mbr-shop .text-modal .item-button {
  text-align: left !important;
}
.cid-rVjZ1PWbSr .mbr-shop .text-modal .price-block {
  line-height: 1;
  border-bottom: 1px dotted #d6d6d6;
}
.cid-rVjZ1PWbSr .mbr-shop .text-modal .price-block p {
  display: inline;
}
.cid-rVjZ1PWbSr .mbr-shop .text-modal .price-block span {
  display: inline;
  font-weight: 300;
  padding: 10px 0 20px 0;
}
.cid-rVjZ1PWbSr .mbr-shop .text-modal .card-description {
  padding-top: 16px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #132c70;
}
.cid-rVjZ1PWbSr .mbr-shop .modal-control-panel {
  padding-right: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .modal-cb {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModalBg {
  width: 100%;
  height: 100%;
}
.cid-rVjZ1PWbSr .mbr-shop .close-modal-wrapper {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .close-modal-wrapper:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #cccccc;
  top: 50%;
  right: 5%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cid-rVjZ1PWbSr .mbr-shop .close-modal-wrapper:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #cccccc;
  right: 50%;
  top: 5%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cid-rVjZ1PWbSr .mbr-shop .closeModal {
  position: absolute;
  top: 0;
  right: 0;
}
.cid-rVjZ1PWbSr .mbr-shop .galleryItem .sidebar_wraper {
  text-align: center;
  padding-bottom: 15px;
}
.cid-rVjZ1PWbSr .mbr-shop .shopItemsModal .sidebar_wraper {
  text-align: left;
  opacity: 1;
  display: block;
}
.cid-rVjZ1PWbSr .mbr-shop .item_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: transparent;
}
.cid-rVjZ1PWbSr .mbr-shop .style_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cid-rVjZ1PWbSr .mbr-shop .price-range {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .price-range-reset {
  display: none;
}
.cid-rVjZ1PWbSr .mbr-shop .bestsellers .item-button {
  display: none !important;
}
.cid-rVjZ1PWbSr .mbr-shop .range-slider h4 {
  margin-bottom: 1.8rem;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-filter ul {
  padding-left: 0px;
  display: inline-block;
  list-style: none;
  margin-bottom: 0px;
}
.cid-rVjZ1PWbSr .mbr-shop .categories:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 767px) and (max-width: 1100px) {
  .cid-rVjZ1PWbSr .mbr-shop .col-md-9 {
    width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .col-md-3 {
    width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .sidebar-background:after {
    top: 0;
  }
  .cid-rVjZ1PWbSr .mbr-shop .bestseller-block {
    width: 100%;
    margin: 0;
    display: inline-block;
    float: left;
    padding-top: 15px;
  }
  .cid-rVjZ1PWbSr .mbr-shop .range-slider {
    width: 49%;
    margin: 0;
    display: inline-block;
    float: right;
    padding-top: 15px;
  }
  .cid-rVjZ1PWbSr .mbr-shop .bestsellers {
    width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .bestsellers .mbr-gallery-item {
    width: 49%;
    display: inline-block;
  }
  .cid-rVjZ1PWbSr .mbr-shop .sidebar-categories {
    width: 49%;
    margin: 0;
    display: inline-block;
    padding-top: 15px;
  }
  .cid-rVjZ1PWbSr .mbr-shop .price-range {
    max-width: 250px;
    text-align: center;
  }
  .cid-rVjZ1PWbSr .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item {
    width: 33%;
  }
}
@media (max-width: 500px) {
  .cid-rVjZ1PWbSr .mbr-shop .shopItemsModal {
    padding: 50px 10px 10px 10px;
  }
  .cid-rVjZ1PWbSr .mbr-shop .shop-title {
    max-width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-item {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .cid-rVjZ1PWbSr .mbr-shop .sort-buttons {
    text-align: center;
    margin-right: 0 !important;
  }
}
@media (max-width: 767px) {
  .cid-rVjZ1PWbSr .mbr-shop .image-modal {
    text-align: center;
  }
  .cid-rVjZ1PWbSr .mbr-shop .image-modal img {
    max-height: 50vh;
    width: auto;
    max-width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .shopItemsModal {
    top: 15%;
    bottom: 70px;
    left: 10%;
    width: 80%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .shopItemsModal .image-modal {
    padding-right: 0;
  }
  .cid-rVjZ1PWbSr .mbr-shop .sidebar-background:after {
    top: -1%;
  }
  .cid-rVjZ1PWbSr .container-fluid {
    padding: 0 0rem;
  }
}
@media (max-width: 1100px) {
  .cid-rVjZ1PWbSr .mbr-shop .shopItemsModal {
    max-height: 85vh;
    width: 90%;
    left: 5%;
    margin-left: 0;
  }
  .cid-rVjZ1PWbSr .mbr-shop .sort-buttons {
    margin-right: 21px;
  }
  .cid-rVjZ1PWbSr .mbr-shop .sidebar-background:after {
    right: 0;
    width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .text-modal .card-description {
    width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .text-modal .price-block {
    width: 100%;
  }
  .cid-rVjZ1PWbSr .mbr-shop .text-modal h4 {
    padding-top: 30px;
  }
}
.cid-rVjZ1PWbSr .shopItemsModal_wraper .mbr-section-btn {
  display: block !important;
}
.cid-rVjZ1PWbSr .range-slider .mbr-section-btn {
  margin: 0;
}
.cid-rVjZ1PWbSr .oldprice {
  color: #767676;
  padding-left: .8rem !important;
  text-decoration: line-through;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rVjZ1PWbSr .shopItemsModal.row {
    position: absolute !important;
    top: calc(50% - 300px) !important;
    left: calc(50% - 500px) !important;
  }
}
.cid-rVjZ1PWbSr .range-controls {
  display: block !important;
}
.cid-rVjZ1PWbSr .mbr-gallery-item .sidebar_wraper {
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}
.cid-rVjZ1PWbSr .sidebar .sidebar_wraper {
  background-color: #ffffff;
}
.cid-rVjZ1PWbSr .mbr-gallery-item .price-block {
  text-align: left;
}
.cid-rVjZ1PWbSr .big-container {
  max-width: 1326px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.cid-rVjZ1PWbSr .mbr-shop .mbr-gallery-filter ul li {
  padding: 7px 16px 5px;
  margin: 4px 8px 4px 0;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rVjZ1PWbSr .mbr-gallery-item .sidebar_wraper .item-title {
  text-align: left;
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
}
.cid-rVjZ1PWbSr .sidebar {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rVjZ1PWbSr .range-slider {
  -webkit-order: 1;
  order: 1;
}
.cid-rVjZ1PWbSr .sidebar-categories {
  -webkit-order: 2;
  order: 2;
}
.cid-rVjZ1PWbSr .bestseller-block {
  -webkit-order: 3;
  order: 3;
}
.cid-rVjZ1PWbSr .categories {
  padding: 0;
}
.cid-rVjZ1PWbSr .sidebar-title {
  font-weight: bold;
}
.cid-rVjZ1PWbSr .img_wraper {
  transition: 1s;
}
.cid-rVjZ1PWbSr .galleryItem:hover .sidebar_wraper {
  opacity: 1;
  transform: translateY(-0.3rem);
}
.cid-rVjZ1PWbSr .galleryItem:hover .img_wraper {
  transform: translateY(-0.5rem);
}
.cid-rVjZ1PWbSr .sidebar_wraper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}
.cid-rVjZ1PWbSr .container-fluid {
  max-width: 1300px;
}
.cid-rVjZ1PWbSr .shop-item-price {
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
}
@media (max-width: 991px) {
  .cid-rVjZ1PWbSr .sidebar_wraper {
    opacity: 1;
  }
  .cid-rVjZ1PWbSr .btn {
    margin: 0;
    padding: 0.2rem;
  }
}
@media (min-width: 767px) {
  .cid-rVjZ1PWbSr .container-fluid {
    padding: 0 1rem;
  }
}
@media (min-width: 991px) {
  .cid-rVjZ1PWbSr .btn {
    margin: 0;
    padding: 0.5rem 1.4rem;
  }
}
.cid-rVjZ1PWbSr h4 {
  font-weight: 300;
}
.cid-rVjZ1PWbSr .btn {
  font-weight: 300;
  border-width: 1px;
}
.cid-rVjZ4kuELS {
  overflow: hidden !important;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cccccc;
}
@media (max-width: 991px) {
  .cid-rVjZ4kuELS {
    height: auto;
    min-height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.cid-rVjZ4kuELS .animated-element {
  color: #efefef;
}
.cid-rVjZ4kuELS .img-block {
  -webkit-align-self: center;
  align-self: center;
}
@media (max-width: 1199px) {
  .cid-rVjZ4kuELS .mbr-figure img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cid-rVjZ4kuELS .container-fluid {
    padding: 0 1rem;
  }
  .cid-rVjZ4kuELS .mbr-figure {
    margin-top: 1rem;
  }
}
@media (min-width: 767px) {
  .cid-rVjZ4kuELS .mbr-white {
    padding-left: 5rem;
  }
  .cid-rVjZ4kuELS .mbr-section-subtitle {
    padding-right: 3rem;
  }
  .cid-rVjZ4kuELS .container-fluid {
    padding: 0 2rem;
  }
}
.cid-rVjZ4kuELS .container-fluid {
  max-width: 1300px;
}
.cid-rVjZ4kuELS .mbr-section-title {
  margin-bottom: 1rem;
}
.cid-rVjZ4kuELS .mbr-section-subtitle {
  margin-bottom: 0rem;
}
.cid-rVjZ4kuELS .btn-line {
  margin-top: 3rem;
}
.cid-rVV3TYU5MD {
  overflow-x: hidden !important;
}
.cid-rVV3TYU5MD,
.cid-rVV3TYU5MD .scroll-wrapper {
  padding-top: 225px;
  padding-bottom: 225px;
}
.cid-rVV3TYU5MD .mbr-section-title {
  color: #ffffff;
}
.cid-rVV3TYU5MD .mbr-section-title span {
  color: #b1976b;
}
.cid-rVV3TYU5MD .mbr-text {
  color: #efefef;
  letter-spacing: 5px;
  font-weight: 100;
}
.cid-rVV3TYU5MD .scroll-wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-repeat: repeat;
  z-index: 0;
  -webkit-animation-duration: 30s !important;
  animation-duration: 30s;
  background-image: url("../../../assets/images/background10.jpg");
  -webkit-animation: scroll-wrapper linear infinite;
  -moz-animation: scroll-wrapper linear infinite;
  -o-animation: scroll-wrapper linear infinite;
  animation: scroll-wrapper linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.cid-rVV3TYU5MD .scroll-wrapper.second {
  left: calc(100% - 1px);
}
.cid-rVV3TYU5MD .mbr-overlay {
  z-index: 1;
}
.cid-rVV3TYU5MD .block-content {
  z-index: 2;
}
@keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.cid-rVV44vjzgT {
  background-image: url("../../../assets/images/mcdonald-lake-glacier-national-park-montana.jpg");
}
.cid-rVV44vjzgT .btn {
  padding: 10px 15px 10px 15px;
  font-weight: bold;
}
.cid-rVV44vjzgT .mbr-section-title {
  letter-spacing: .1em;
}
.cid-rVV44vjzgT .icon-description {
  padding-top: 1rem;
  color: #ffffff;
}
.cid-rVV44vjzgT .mbr-media {
  height: 70px;
}
.cid-rVV44vjzgT .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: white;
}
.cid-rVV44vjzgT .mbr-media span:hover {
  opacity: 0.7;
}
.cid-rVV44vjzgT .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rVV44vjzgT .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rVV44vjzgT .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rVV44vjzgT .modalWindow .modalWindow-video {
  height: 44.9943757vw;
  width: 80vw;
  margin: 0 auto;
}
.cid-rVV44vjzgT a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rVV44vjzgT a.close:hover {
  color: #ffffff;
}
.cid-rVV44vjzgT .mbr-text,
.cid-rVV44vjzgT .mbr-section-btn {
  color: #efefef;
}
